# Google Maps API Key for Property Location Map and Search Your Gateway
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=

# Backend API Endpoints
EXPO_PUBLIC_API_BASE_URL=http://localhost:8086/api/v1
EXPO_PUBLIC_PRODUCTION_URL=https://villa-camping-backend.onrender.com/api/v1
